
p	{ font-family: calibri; color: dimgray; font-size: 1em; }
h1	{ font-family: calibri; color: dimgray; font-size: 2em; }
h2	{ font-family: calibri; color: dimgray; font-size: 1.5em; }
h3	{ font-family: calibri; color: dimgray; font-size: 1.2em; }

a         { font-family: calibri; color: lightgray; }
a:focus   { color: dimgray; background-color: white; }
a:hover   { color: lightgray; background-color: white; }
a:active  { color: dimgray; background-color: white; }

nav	{ font-family: calibri; font-size: 1.2em; }


/* 
* { border: 1px dashed red; }
*/

* {
	box-sizing: border-box;
	margin: 0;
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
}

header {

}

nav {

}

main {

}

section {

}

article {

}

aside {
	
}

footer {

}

